{% extends 'base.html.twig' %}

{% block body %}

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
                <img src="https://s2it.com.br/site/wp-content/themes/s2it/images/logoS2it.png">
            </a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">

            <br><br>

            <div class="row center grey lighten-3">
                <p>To get the results via API, access this URL:</p>
                <p><b>{{ apiUrl }}</b></p>

                <br>
                <p>Or add the following after your website URL: </p>
                <p>{{ apiPath }}</p>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="section">

            <div class="row">

            </div>

        </div>
        <br><br>
    </div>

    <footer class="page-footer grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Instructions</h5>
                    <p class="grey-text text-lighten-4">
                        Drop the file into specified area and let the magic happen!
                    </p>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by Hígor Fonseca
            </div>
        </div>
    </footer>

{% endblock %}
{% block stylesheets %}
<style type="text/css">
    #uploadArea{
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/upload.js') }}"></script>
{% endblock %}